__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
pip-wheel-metadata/
.python-version
Pipfile.lock
.pytest_cache/
coverage.xml
htmlcov/
.coverage
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
*.log
*.bak
.env
.env.* 
.cache/
.mypy_cache/
*.tmp
*.exe
.ruff_cache/